<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="background-color">

        <img src="assets/comp.jpg" alt="icons" height="50%" width="50%">    

      <ion-card-header>
        <ion-card-title class="card-title">SurveyPRO</ion-card-title>
        <ion-card-subtitle>SurveyPRO is a paid survey where the participants/members are rewarded through an incentive program, generally entry into a sweepstakes program or a small cash reward, for completing one or more surveys.</ion-card-subtitle>
      </ion-card-header>
               
    </ion-card>
</ion-content>

