<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    <ion-card>
      <ion-card-header>
        <img src="assets/comp.jpg" alt="icons" height="50%" width="50%">
      </ion-card-header>
  
      <ion-card-content>
        <ion-text class="survey">Take Surveys - Earn Points - Get Paid</ion-text>
          <ion-card-subtitle class="sub">How to earn on paid surveys in 3 easy steps?
            <div class="steps">
              <ul>
                <li>Register or Sign up</li>
                <li>Answer surveys honestly</li>
                <li>Get paid when you meet the payment threshold</li>
              </ul>
            </div>
          </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
   
  <div class="btn">
    <ion-button expand="block" fill="solid" color="primary">
      Login
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>

    <ion-button expand="block" fill="solid" color="secondary">
      Sign Up
      <ion-icon slot="end" name="create-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

  

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="signup">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Signup</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
